.Rproj.user
.Rhistory
.RData
.Ruserdata

inst/shinyApps/QueryLibrary/www/rendered.Rmd
*.html
inst/shinyApps/QueryLibrary/www/rendered.Rmd
inst/shinyApps/QueryLibrary/www/rendered.html
inst/shinyApps/QueryLibrary/errorReport.txt
extras/testdatabases

.idea/